@using PagedList.Mvc;
@using OnlineShop.Models.EF;
@model PagedList.IPagedList<OnlineShop.Models.EF.eProduct>


@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section CSS{
    <!-- DataTables CSS -->
    <link href="~/Assets/Admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Assets/Admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
}

@section Scripts{
    <!-- DataTables JavaScript -->
    <script src="~/Assets/Admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/Admin/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Assets/Admin/custom/jsProduct.js"></script>
    <!--Page - Level Demo Scripts - Tables - Use for reference-->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true,
                paging: false,
                info: false
            });
        });
    </script>
}

<!-- Modal Edit -->
<div id="modal-create" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center">Thêm mới sản phẩm</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.Label("Code", new { @class = "form-control", @style = "border:none; box-shadow:none" })
                                            </div>
                                            <div class="col-md-10">
                                                @Html.TextBox("Code", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.Label("Name", new { @class = "form-control", @style = "border:none; box-shadow:none" })
                                            </div>
                                            <div class="col-md-10">
                                                @Html.TextBox("Name", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.Label("Unit", new { @class = "form-control", @style = "border:none; box-shadow:none" })
                                            </div>
                                            <div class="col-md-10">
                                                @Html.DropDownList("IDUnit", new SelectList(ViewBag.Units, "KeyID", "Name"), new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-2">
                                                @Html.Label("Note", new { @class = "form-control", @style = "border:none; box-shadow:none" })
                                            </div>
                                            <div class="col-md-10">
                                                @Html.TextArea("Note", "", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSave" type="button" class="btn btn-default" data-dismiss="modal">Lưu</button>
                <button id="btnClose" type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>*

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@ViewBag.Title</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            @*<a href="@Url.Action("Create")" class="btn btn-primary">Add new</a>*@
                            <!-- Trigger the modal with a button -->
                            <a class="btn btn-primary" data-toggle="modal" data-target="#modal-create" id="btnAdd">Thêm mới</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table style="width:100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Code</td>
                                <td>Name</td>
                                <td>Color</td>
                                <td>Unit</td>
                                <td>Size</td>
                                <td>Note</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;
                                foreach (eProduct item in Model)
                                {
                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@item.Code</td>
                                        <td>@item.Name</td>
                                        <td>@item.ColorName</td>
                                        <td>@item.UnitName</td>
                                        <td>@item.Size</td>
                                        <td>@item.Note</td>
                                        <td style="width:23%; text-align:center">
                                            <a href="@Url.Action("Detail",new { id=item.KeyID})" class="btn btn-info">Chi tiết</a>
                                            <a href="@Url.Action("Edit",new { id=item.KeyID})" class="btn btn-success">Sửa</a>
                                            <a href="#" class="btn btn-danger">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div>@Html.PagedListPager(Model, page => Url.Action("Pages", new { pageIndex = page }))</div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
